<dx-data-grid id="gridContainer" [dataSource]="studentDataSource$" [remoteOperations]="false"
    [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
    (onContentReady)="contentReady($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
    <!-- <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="true"
    ></dxo-search-panel> -->
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <!-- <dxo-editing 
            mode="popup"
            [allowUpdating]="true"
            [allowDeleting]="true"
         [allowAdding]="true"
            [allowUpdating]="true">
            <dxo-popup
                title="Edit Student Info"
                [showTitle]="true"
                [width]="700"
                [height]="525"
                [position]="{ my: 'top', at: 'top', of: window }"
                [toolbarItems]="[  
                {  
                widget: 'dxButton',  
                location: 'before',  
                options: {  
                  text: 'Update Personal Information',  
                  icon: 'save'  
                },  
                toolbar: 'bottom',  
                onClick: UpdateInforamtion  
            }]"  
                >
            </dxo-popup>
            <dxo-form>
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                    <dxi-item dataField="Name"></dxi-item>                   
                    <dxi-item dataField="Email"></dxi-item>                                      
                </dxi-item>                
            </dxo-form>
        </dxo-editing> -->

    <dxi-column dataField="Name"></dxi-column>
    <dxi-column dataField="Email" caption="Email"></dxi-column>
    <dxi-column caption="Course1" dataField="Course1" cellTemplate="enroll-Transfer-Disenrol-Course"></dxi-column>
    <dxi-column dataField="Course1Grade"></dxi-column>
    <dxi-column dataField="Course2"></dxi-column>
    <dxi-column dataField="Course2Grade"></dxi-column>

    <div *dxTemplate="let d of 'enroll-Transfer-Disenrol-Course'">
        <div class="current-value" id="transferCourse"> {{d.data.Course1}}
            <span> <a (click)="transferCourse($event ,d)"> Transfer </a></span>
        </div>
        <div class="button" id="Disenroll"><span> <a (click)="DisEnrollPopup(selectedStudent)"> DisEnroll </a></span></div>
    </div>
</dx-data-grid>

<!--  DisEnrollMent PopUp   -->
<dx-popup [width]="700" [height]="500" [showTitle]="true" title="DisEnroll" 
    [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="disEnrollPopupVisible">
    <dx-form id="form" [formData]="selectedStudent" method="post">

    <dxi-item  [colSpan]="2" editorType="dxTextArea" 
    [editorOptions]="{ height: 100 }"></dxi-item>
    <dxi-item itemType="group" [colCount]="6">       
        <dx-button text="DisEnroll" type="success" (click)="DisEnroll(selectedStudent)" [useSubmitBehavior]="true">
        </dx-button>
        <dx-button text="Cancel" type="button" (click)="closedisEnrollPopupVisible()">
        </dx-button>
    </dxi-item>
</dx-form>
</dx-popup>

<!--  End DisEnrollMent PopUp   -->

<!--  Edit Personnel Info PopUp   -->
<dx-popup [width]="700" [height]="500" [showTitle]="true" title="Information" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="editInfopopupVisible">

    <dx-form id="form" [formData]="selectedStudent" method="post">
        <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
            <dxi-item>
                <div class="form-avatar"></div>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="3">
                <dxi-item dataField="Name"></dxi-item>
                <dxi-item dataField="Email"></dxi-item>
            </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="4">
            <dx-button text="Submit" type="success" (click)="editInfo(selectedStudent)" [useSubmitBehavior]="true">
            </dx-button>
            <dx-button text="Cancel" type="button" (click)="closeEditPopup()">
            </dx-button>
        </dxi-item>

        <!-- <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
		<dxi-item itemType="group">
			<dxi-item dataField="Address"></dxi-item>
			<dxi-item dataField="City"></dxi-item>
			<dxi-item dataField="Position" editorType="dxSelectBox" [editorOptions]="{ items: positions, value: '' }"></dxi-item>
		</dxi-item>
		<dxi-item itemType="group">
			<dxi-item dataField="State" editorType="dxSelectBox" [editorOptions]="{ items: states }"></dxi-item>
			<dxi-item dataField="ZipCode"></dxi-item>
			<dxi-item dataField="Mobile" [label]="{text: 'Phone'}" [editorOptions]="{ mask: '+1 (000) 000-0000'}"></dxi-item>
		</dxi-item>
		<dxi-item dataField="Notes" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140 }"></dxi-item>
    </dxi-item> -->
    </dx-form>
</dx-popup>
<!--  End of Edit Popup    -->